@import "../../../node_modules/flickity/css/flickity.css";

.brand-bg{
    background-color: #046733;
}
.brand-secondary-bg{
    background-color: #39b97c;
}
.carousel-cell.is-selected {
    @apply opacity-100;
  }

.header-top{
    background-color: #f2f5f4;
}
.header-top nav a{
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 12px;
  display: inline-block;
  padding-right: 8px;
  position: relative;
cursor: pointer;
}
.brand.brand-name{
    color: #046733;
}
.header-top nav a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #333;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header-top nav a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  @screen md{
    .header-top nav a{
        font-size: 16px;
    }
  }