<header class="text-gray-600 body-font shadow-lg header-top">
	<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center space-x-10">
	  <nav class="flex lg:flex-grow items-center text-base md:ml-auto md:justify-end justify-center">
		<a class="lg:mr-5 font-medium">Home</a>
		<a class="lg:mr-5 font-medium" href="#aboutus	">About Us</a>
		<a class="lg:mr-5 font-medium">Collection</a>
	  </nav>
	  <a class="flex order-first md:order-none lg:flex-shrink title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0 w-auto p-2 brand brand-name">
		<span class="text-3xl title">Pusat Grosir<br>Mukena Tasik</span>
		<!-- {{> picture src="assets/img/logo.png" class="object-center object-fit object-cover"}} -->
	  </a>
	  <nav class="flex lg:flex-grow items-center text-base md::ml-auto md::justify-start justify-center">
		<a class="lg:mr-5 font-medium">Gallery</a>
		<a class="lg:mr-5 font-medium">Social Media</a>
		<a class="lg:mr-5 font-medium">Contact</a>
	  </nav>
	</div>
  </header>
